form div, form p, form h2, form h3{
	padding: .5em 1em;
	margin:0;
}
label { 
	font-weight: bold;
}
form { 
	display: inline-block;
	padding: .5em;
	border: 1px solid;
}
.error{
	display: block;
	padding-bottom: .15em;
	color: red;
}
.error + br {
	display: none;
}
